$header-bg: #040b14;

$primary-bg: #1072A1;
$secondary-bg: #f5f8fd;

$primary-color: #122D52;

$link-color: #149ddd;
$link-hover-color: #37b3ed;

$nav-menu-link-color: #6f7180;

$about-subtitle-color: #1D2024;
$fact-subtitle-color: #050D18;

$hero-text-border-color: #367A9A;

$resume-btn-bg: #e7f5fc;
$resume-border: 2px solid #183D70;